<launch>
<param name="/use_sim_time" value="true" />
  <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox"  output="screen" >
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_localization.yaml" />
  </node>
   <!-- <node name="tf_remove_frames" pkg="srsnode_localization"
      type="tf_remove_frames.py">
    <remap from="tf_out" to="/tf" />
    <rosparam param="remove_frames">
      - map
      - odom
    </rosparam>
    launch-prefix="gdb -ex run args" 
    launch-prefix="gdb args"
  </node> -->

</launch>
