<launch>
<arg name="launch-prefix" value="screen -d -m gdb --args"/>
<param name="/use_sim_time" value="true" />
  <node pkg="slam_toolbox" type="slam_toolbox" name="slam_toolbox" output="screen" >
  <!-- launch-prefix="$(arg launch-prefix)"> -->
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_online_sync.yaml" />
  </node>

</launch>
